.post {
    max-width: 500px;    /*to keep images post at a limited size while adjusting of browser*/
    border: 2px solid rgb(224, 137, 70);
    background-color: rgb(240, 236, 229);
    margin-bottom: 45px;  /*spacing between post (gap)*/
    border-radius: 10px;
    
}

.userpost__heading {
    display: flex;     /**entire header on a row my default*/
    padding: 15px;
    align-items: center;
}
.userpost__image{
    width:100%;
    object-fit:contain;
    border-bottom: 2px solid rgb(131, 89, 59);
    border-top: 2px solid rgb(131, 89, 59);
    border-radius: 100px;
}


.userpost__text {
    font-weight: normal;
    padding:15px;;

}

.userpost__avatar {       /**/
    margin-right: 15px;    /**/
}
.comment__sectionBox{
    display: flex;
    margin-top: 10px;
}
.input__post{
    flex:1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.btn__post {
    flex: 0;
    border: none;
    color: #df6d0f;
    border-top: 1px solid lightgray;
    cursor: pointer;
}