*{
  margin:0;
}
.top_heading {
  /* this keeps title intact, does not change form with adjustment of browser */
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  background-color: #F2B705;
  padding: 25px;
  border-bottom: 1px solid lightpink;
}

.App{
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fimgur.com%2Fa%2FKPDVH&psig=AOvVaw37cr50KVkfXM4nY9M9nnTS&ust=1595682479453000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKC2if765eoCFQAAAAAdAAAAABAJ');
  /* background-color:#e9e9e9; */
  /* height: 100vh; */
}
.app__posts{
 display: flex;
  justify-content: center;
 padding: 25px;
}
.app__postsRightSide{
  margin-left: 20px;
}
/* below i'm senering out my modal */
.page__signup {
  display: flex;                  
  flex-direction: column;
}
.app__logo {
  width: 200px;
  object-fit: contain;
}